apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end
spec:
  revisionHistoryLimit: 3
  replicas: 3
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
      - name: front-end
        image: amokscience/front-end:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8040
          name: http
        env:
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: front-end-config
              key: environment
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
