apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-service
spec:
  revisionHistoryLimit: 3
  replicas: 3
  selector:
    matchLabels:
      app: sql-service
  template:
    metadata:
      labels:
        app: sql-service
    spec:
      containers:
      - name: sql-service
        image: amokscience/sql-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8009
          name: http
        env:
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: sql-service-config
              key: environment
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
