global:
  domain: argocd.amok

configs:
  params:
    # Run server without TLS - terminated at NGINX ingress
    server.insecure: true
  cm:
    timeout.reconciliation: "60s"
    url: "https://argocd.amok"
    oidc.tls.insecure.skip.verify: "true"
    oidc.config: |
      name: Keycloak
      issuer: https://keycloak.amok:8443/realms/master
      clientID: argocd
      clientSecret: $argocd-oidc-keycloak:client-secret
      logoutURL: https://keycloak.amok:8443/realms/master/protocol/openid-connect/logout?client_id=argocd&post_logout_redirect_uri=https://argocd.amok
      requestedScopes: ["openid","profile","email","groups"]

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      # F5 NGINX annotations
      nginx.org/proxy-buffering: "false"
      nginx.org/proxy-read-timeout: "3600s"
      nginx.org/proxy-send-timeout: "3600s"
      nginx.org/proxy-connect-timeout: "120s"
    extraTls:
    - hosts:
      - argocd.amok
      secretName: argocd-tls
