apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress-grpc
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
spec:
  ingressClassName: nginx
  rules:
  - host: argocd.local
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 443