apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: amokscience/hello:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8050
          name: http
        env:
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: hello-config
              key: environment
        - name: HELLO
          valueFrom:
            configMapKeyRef:
              name: hello-config
              key: hello
        - name: AWS_CREDENTIALS_JSON
          valueFrom:
            secretKeyRef:
              name: app-secrets
              namespace: external-secrets
              key: aws-credentials
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
