replicaCount: 3

image:
  repository: amokscience/front-end
  tag: latest
  pullPolicy: Always

service:
  port: 8040

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  configMapName: front-end-config
